<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %highlight(%-5level) %boldYellow(%marker) %magenta(%logger{30}) %boldGreen(%X{peerId}/%X{sessionId}) - %msg %ex%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
